.top-bar {
    display: flex;
    flex-direction: column;
    background-color: #333;
    color: white;
  }
  
  .top-row,
  .bottom-row {
    padding: 10px;
  }
  
  .top-row {
    background-color: #555;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .bottom-row {
    background-color: #777;
    display: flex;
    align-items: center;
  }
  
  .big-basket,
  .search-bar,
  .select-location,
  .login-signup,
  .my-basket,
  .shop-by-category,
  .exotic-fruits-vegetables,
  .tea,
  .ghee,
  .fresh-vegetables {
    padding: 0 10px;
  }
  
  .big-basket {
    font-weight: bold;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .shop-by-category:hover .dropdown-content {
    display: block;
  }
  
  a {
    text-decoration: none;
    color: white; /* or specify your desired color */
  }